.footer {
	background-color: #10D99F;
	height:120px;
	width:768px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
	position: relative;
}
.tip a{
	color: white;
	text-decoration: none;
}