* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    font-size: 12px;
   
}

* html .personal,
* body .personal {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-color:#ddd;*/
}

.personal .head{
	 width: 100%;
    height: 8%;
   display:flex;
   align-items:center;
   justify-content:flex-start;
   padding-left:0.3rem;
    font-size: 0.56rem;
    text-align: center;
    background-color: #10D99F;
    color: #fff;
    box-sizing: border-box;
}
.personal .head .img{
	width: 0.7rem;
    height: 0.7rem;
    /*margin-top: -0.7rem;*/
}
.img img{
	width:100%;
height:100%;
border-radius:50%;
}
.head .tips{
	padding-left: 0.2rem;
    font-size: 0.38rem;
}
.head .zhuxiao{
	flex: 6;
    text-align: right;
    margin-right:0.3rem;
}
.head .zhuxiao a{
	color:#fff;
	font-size:0.38rem;
}


* html .personal .content,
* body .personal .content {
    position: relative;
    width: 100%;
    height: 80%;
}

* html .personal .content .list,
* body .personal .content .list {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

* html .personal .content .list li,
* body .personal .content .list li {
    flex: 1;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
 
}

* html .personal .content .list li .icon,
* body .personal .content .list li .icon {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.2rem;
    display: inline-block;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

* html .personal .content .list li .location,
* body .personal .content .list li .location {
    background-image: url("../image/icon_location.png");
}

* html .personal .content .list li .advice,
* body .personal .content .list li .advice {
    background-image: url("../image/advice.png");
}

* html .personal .content .list li .star,
* body .personal .content .list li .star {
    background-image: url("../image/star.png");
}

* html .personal .content .list li .aboutUs,
* body .personal .content .list li .aboutUs {
    background-image: url("../image/aboutus.png");
}

* html .personal .content .list li .user,
* body .personal .content .list li .user {
    background-image: url("../image/user.png");
}

* html .personal .content .list li .text,
* body .personal .content .list li .text {
	display:block;
    width: 3rem;
    height: 1rem;
    margin-top: 0.45rem;
    font-size: 0.38rem;
    margin-left: 0.2rem;
}

* html .personal .content .list li a,
* body .personal .content .list li a {
    width: 0.35rem;
    height: 0.35rem;
    margin-left: 4.5rem;
    display: inline-block;
    background: url("../image/big.png") 100% 100% / cover no-repeat;
}

