* {
    margin: 0;
    padding: 0;
    list-style: none;
}

* html,
* body {
    font-size: 12px;
}
 .wrapper {
    width: 100vw;
    height: 100vh;
}

 .header {
     width: 100%;
    height: 10%;
    padding: 1.5rem;
    font-size: 3.1rem;
    text-align: center;
    padding-top: 3rem;
    background-color: #10D99F;
    color: #fff;
    box-sizing: border-box;
}
.back-to-personal {
    position: absolute;
    left: 2.32rem;
    top: 4.0rem;
    display: inline-block;
    width: 3.38rem;
    height: 3.38rem;
    background: url(../image/ico_left_arrow.png) 100% 100% / cover no-repeat;
}
.content{
	width:100%;
}
.content form{
width: 79%;
    height: 76%;
    margin: 3rem auto;
    position:relative;
    /*border: 1px solid #000;*/
}
.content form .stars{
	width:80%;
	margin-top: 32rem;
    margin-left: 14rem;
}
.stars img{
	width:7rem;
	height:7rem;
}
.content form .word{
	    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.content .submitMyCom{
	    position: absolute;
    width: 39%;
    height: 5.5rem;
    font-size: 2.3rem;
    left: 19rem;
    top: 28rem;
    border: none;
    border: none;
    outline: none;
    background-color: #00ff80;
    color: #000;
    border-radius: 0.2rem;
}
 .tips-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
 .tips-box .mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.6;
}
 .tips-box .tips {
    position: absolute;
    top: 21rem;
    left: 20.2rem;
    width: 39rem;
    height: 30.3rem;
    border: 1px solid #ddd;
    margin: 3.5rem auto;
    background-color: #fff;
}
 .tips-box .tips .img {
  width: 9rem;
    height: 9rem;
    margin: 3rem auto;
}
 .tips-box .tips .img img {
  width: 100%;
  height: 100%;
}
 .tips-box .tips p {
font-size: 2.8rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.tips-box .tips a {
     display: block;
    width: 13rem;
    height: 3.8rem;
    text-align: center;
    font-size: 2.46rem;
    background-color: #00ff80;
    color: #fff;
    margin: 1.3rem auto;
    border-radius: 10px;
    text-decoration: none;
}
